@import './scss/mixins';
@import './scss/variables';

.projects {
  &__greet {
    @include greet;
  }

  &__content {
    position: relative;
    max-width: 280px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: map-get($map: $breakpoints, $key: "tablet")) {
    &__content {
      max-width: 600px;
    }
  }

  @media screen and (min-width: map-get($map: $breakpoints, $key: "laptopS")) {
    &__content {
      max-width: 700px;
    }
  }
}
